@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.invoice-content {
  padding: 20px;
}

.invoice-card {
  border: 1px solid #A393EB; /* Light blue border */
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease forwards; /* Apply animation */
}

.card-header {
  background-color: #A393EB;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.card-header ion-card-title {
  font-size: 18px;
  color: #333; /* Dark gray title */
}

.item-details {
  margin: 5px 0;
  font-size: 16px;
  color: #666; /* Medium gray text */
}

.item-details:first-child {
  margin-top: 0;
}

/* Define animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
ion-header {
  ion-toolbar{
    --background: #A393EB; 
    color: white;
    font-style: oblique;
    font-weight: bolder;
    font-size: 25px;
  }
  --background: #A393EB; 
  
}

ion-segment-button{
  font-size: 20px;
    font-weight: bold;
}