/* General styles */
ion-content {
  --background: #f2f2f2;
}

ion-header {
  ion-toolbar {
    --background: #A393EB; 
    color:#fff;
  }
}


ion-list {
  background-color: transparent;
}

ion-item {
  --background: #fff;
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

ion-avatar {
  --border-radius: 50%;
  width: 48px;
  height: 48px;
}

ion-icon {
  font-size: 24px;
}

.active {
  color: #16a085;
}

.denied {
  color: #e74c3c;
}

.pending {
  color: #f39c12;
}

/* Responsive styles */
@media (max-width: 576px) {
  ion-segment-button {
    font-size: 12px;
  }

  ion-item {
    --padding-start: 8px;
    --padding-end: 8px;
    --inner-padding-end: 4px;
  }

  ion-avatar {
    width: 36px;
    height: 36px;
  }

  ion-icon {
    font-size: 20px;
  }

  ion-label h2 {
    font-size: 16px;
  }

  ion-label p {
    font-size: 12px;
  }

  ion-button {
    font-size: 12px;
    --padding-start: 8px;
    --padding-end: 8px;
  }
}