<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="animated fadeInDown">Add Inventory Storeroom</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeScanner()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-icon style="font-size: 30px; font-weight: bolder;" routerLink="/home" slot="start" name="arrow-back-outline" class="animated fadeInRight"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card id="container" class="animated zoomIn">
    <ion-card-header class="ion-text-center">
      <ion-card-title class="animated fadeInUp">Deliver Inventory to StoreRoom </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-toggle labelPlacement="end" [(ngModel)]="toggleChecked" class="animated fadeInLeft">Type barcode</ion-toggle>
      </ion-item>
      <ion-item class="animated fadeInRight">
        <ion-label position="floating">Barcode</ion-label>
        <ion-input type="text" [(ngModel)]="barcode" (ionChange)="searchProductByBarcode()" *ngIf="toggleChecked"></ion-input>
        <ion-button expand="block" (click)="scanBarcode()" *ngIf="!toggleChecked" class="animated pulse infinite">
          <ion-icon name="barcode-outline"></ion-icon> Scan
        </ion-button>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <ion-label position="floating">Item Name</ion-label>
        <ion-input type="text" [(ngModel)]="itemName"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInRight">
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="itemCategory">
          <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
          <ion-select-option value="Plastics">Plastics</ion-select-option>
          <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
      </ion-item>
      <ion-item class="animated fadeInRight">
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="itemQuantity"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <ion-label position="floating">Picker Name</ion-label>
        <ion-input type="text" [(ngModel)]="pickersDetails"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInRight">
        <ion-label position="floating">Picker Email</ion-label>
        <ion-input type="text" [(ngModel)]="pickersDetailsEmail"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <ion-label position="floating">Phone number</ion-label>
        <ion-input type="text" [(ngModel)]="phone"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInRight">
        <ion-label position="floating">Company</ion-label>
        <ion-input type="text" [(ngModel)]="Cumpany"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <ion-label position="fixed">Date of Pickup</ion-label>
        <ion-input type="date" [(ngModel)]="dateOfPickup"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInRight">
        <ion-label position="floating">Time of Pickup</ion-label>
        <ion-input type="time" [(ngModel)]="timeOfPickup"></ion-input>
      </ion-item>
      <ion-button expand="block" id="fileInput" color="medium" class="custom-file-input animated bounceIn" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon> Take Picture
      </ion-button>
      <ion-button expand="block" (click)="addItem()" class="animated zoomIn">Add Item</ion-button>
      <ion-button expand="block" (click)="generateSlip()" class="animated zoomIn">DONE</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>