<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Best Brightness</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentConfirmationAlert()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <ion-img src="assets/bb.png"></ion-img>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" routerLink="/add-inventory">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Move to Store</ion-card-title>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/update">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Update STORE</ion-card-title>
            <ion-icon name="repeat-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" routerLink="/add-inventory-storeroom">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Add Inventory Storeroom</ion-card-title>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/analytics">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Analytics</ion-card-title>
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" routerLink="/view">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Store</ion-card-title>
            <ion-icon name="eye-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/storeroom">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Storeroom</ion-card-title>
            <ion-icon name="eye-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>