<ion-header>
  <ion-toolbar>
    <ion-title>
     Welcome Best Brightness 
    </ion-title>
    <ion-icon slot="end" name="power-outline" (click)="presentConfirmationAlert()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="navigateToAddInventory()" tab="home">
        <ion-icon name="add-circle-outline"></ion-icon>
        Add Inventory
      </ion-tab-button>

      <ion-tab-button (click)="navigateToUpdateInventory()" tab="radio">
        <ion-icon name="repeat-outline"></ion-icon>
        Update Inventory
      </ion-tab-button>

      <ion-tab-button (click)="navigateToPickupInventory()" tab="library">
        <ion-icon name="add-circle-outline"></ion-icon>
        Add Inventory Storeroom
      </ion-tab-button>

      <ion-tab-button (click)="navigateToDeliverInventory()" tab="search">
        <ion-icon name="stats-chart-outline"></ion-icon>
        Analytics
      </ion-tab-button>

      <ion-tab-button (click)="navigateToStoreInventory()" tab="search">
        <ion-icon name="eye-outline"></ion-icon>
        Store
      </ion-tab-button>

      <ion-tab-button (click)="navigateToViewStoreRoom()" tab="search">
        <ion-icon name="eye-outline"></ion-icon>
        StoreRoom
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  <div class="header">
    <div>

    <ion-img src="assets/bb.png" style="width: 50%; height: auto; display: block; margin: 0 auto;"></ion-img>
  </div>
  </div>
</ion-content>
