<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Best Brightness</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentConfirmationAlert()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <ion-img src="assets/bb.png"></ion-img>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" (click)="navigateToAddInventory()">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Add Inventory</ion-card-title>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" (click)="navigateToUpdateInventory()">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Update Inventory</ion-card-title>
            <ion-icon name="repeat-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" (click)="navigateToPickupInventory()">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Add Inventory Storeroom</ion-card-title>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" (click)="navigateToDeliverInventory()">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Analytics</ion-card-title>
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" (click)="navigateToStoreInventory()">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Store</ion-card-title>
            <ion-icon name="eye-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" (click)="navigateToViewStoreRoom()">
        <ion-card class="menu-card">
          <ion-card-header>
            <ion-card-title>Storeroom</ion-card-title>
            <ion-icon name="eye-outline"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>